<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyContextDB" connectionString="Data Source=DESKTOP-3I1FGFE\SQLEXPRESS;         
        Initial Catalog=APITecsup2022V2;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
